@import "common";

@container-height: 530px;
.container-fluid {
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
  min-height: @container-height;

  .row{
    height: @container-height;
  }

  #google-map{
    height: @container-height;
  }
}