<div class="multiple-choice-question">
    <span class="question"><%= question.text%></span>
    <form>
        <% for(var i = 0; i<question.options.length; i++){ %>
            <input type="checkbox" name="<%= question.id %>" value="<%= question.options[i].correctness %>"> <%= question.options[i].text %> <br>
        <% } %>
    </form>
</div>